[submodule "rdbox-middleware"]
	path = rdbox-middleware
	url = git@github.com:rdbox-intec/rdbox-middleware.git
[submodule "image-builder-rpi"]
	path = image-builder-rpi
	url = git@github.com:rdbox-intec/image-builder-rpi.git
[submodule "image-builder-raw"]
	path = image-builder-raw
	url = git@github.com:rdbox-intec/image-builder-raw.git
[submodule "flashRDBOX"]
	path = flashRDBOX
	url = git@github.com:rdbox-intec/flashRDBOX.git
[submodule "go-transproxy"]
	path = go-transproxy
	url = git@github.com:rdbox-intec/go-transproxy.git
