  # EIP
#  RdboxEipVpnServer:
#    Type: 'AWS::EC2::EIP'
#    Properties:
#      Domain: vpc
  %s:
    Type: 'AWS::EC2::EIP'
    DeletionPolicy: "%s"
    Properties:
      Domain: vpc
      Tags:
        - Key: Name
          Value: %s
# eof
