  # VPC
#  RdboxVpc:
#    Type: 'AWS::EC2::VPC'
#    Properties:
#      CidrBlock: '10.0.0.0/16'
#      EnableDnsSupport: true
#      EnableDnsHostnames: true
#      InstanceTenancy: default
#      Tags:
#        - Key: Name
#          Value: RdboxVpc
  %s:
    Type: 'AWS::EC2::VPC'
    DeletionPolicy: "Delete"
    Properties:
      CidrBlock: %s
      EnableDnsSupport: %s
      EnableDnsHostnames: %s
      InstanceTenancy: default
      Tags:
        - Key: Name
          Value: %s
# eof
