<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="input" />
    <arg name="output_topic" />
    <arg name="output_type" />
    <arg name="import_modules" />
    <arg name="expression" />

    <node pkg="topic_tools" type="transform" name="transform" output="screen" args="$(arg input) $(arg output_topic) $(arg output_type) --wait-for-start --import $(arg import_modules) -- $(arg expression)">
    </node>
</launch>
